<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Items:</strong>
  <ul>
  <% @restaurant.items.each do |item| %>
  	<li><%= link_to item.name, item_url %> </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
