<h1>Listing items</h1>

<table class="table content-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Restaurant</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.restaurant.name %></td>
        <td><%= link_to 'Show', item, :class => "btn btn-default btn-small" %></td>
        <td><%= link_to 'Edit', edit_item_path(item), :class => "btn btn-warning btn-small" %></td>
        <td><%= link_to 'Destroy', item, :class => "btn btn-danger btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, :class => "btn btn-primary btn-large" %>
