<h1>Listing reviews</h1>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<table class="table content-table">
  <thead>
    <tr>
      <th>Contents</th>
      <th>Item</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.contents %></td>
        <td><%= review.item.name %></td>
        <td><%= review.user.name %></td>
        <td><%= link_to 'Show', review, :class => "btn btn-default btn-small" %></td>
        <td><%= link_to 'Edit', edit_review_path(review), :class => "btn btn-warning btn-small" %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path, :class => "btn btn-primary btn-large" %>
