<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @review.contents %>
</p>

<p>
  <strong>Item:</strong>
  <%= link_to @review.item.name, item_url %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= link_to @review.item.restaurant.name, restaurant_url %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @review.user.name, user_url %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
